body {
  margin: 0;
  background: linear-gradient(to bottom, #FFA529, #FFC300);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-size: 420px;
}

.backg {
  background-color: rgba(30, 30, 47, 0.9);
  width: 100%;
  padding: 23px 0px;
  font-family: monospace;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px #ffcc00;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#balance {
  margin-right: 20px;
}

.profile {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Adjust this value if needed */
}
.profile_balance{
  display: flex;
  align-items: center;
  justify-content: center;
  /* Adjust this value if needed */
}
#profile-picture {
  width: 23px;
  /* Adjust size as needed */
  height: 23px;
  border-radius: 60%;
  margin-left: 15px;
}
#profile-balance{
  width: 23px;
  /* Adjust size as needed */
  height: 23px;
  border-radius: 60%;
  margin-right: 15px;
}

#username {
  color: #f8f8f8;
}

.join-com {
  background-color: darkblue;
  position: absolute;
  padding: 0px 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 8px;
  top: 80px;
  right: 13px;
  animation-name: join;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.join-com a {
  text-decoration: none;
  color: white;
}

@keyframes join {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(7px)
  }

  100% {
    transform: translateX(0px)
  }
}

#main-img {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
  cursor: none;
  transition: transform 0.15s;
  margin-top: 100px;
  /* Adjust this value as needed */
}

#main-img.tapped {
  transform: scale(1.04);
}
.year{
  position: fixed;
  bottom: 100px;
}
.yearpic{
  border-radius: 10px;
}
.abeba{
  position: fixed;
  right: 35px;
  top: 67vh;
  z-index: 1;
  
}
.abeba2{
  position: fixed;
  left: 48px;
}
.abeba3{
  position: fixed;
  bottom: 80px;
  left: 55px;
  z-index: 1;
  filter: blur(1px);
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: rgba(30, 30, 47, 0.9);
  padding: 17px 0;
  box-shadow: 0 0 20px #ffcc00;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  font-size: 20px;
  margin-bottom: 5px;
}

.nav-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 1px;
  border-radius: 15px;
}

.nav-bar button {
  background: none;
  border: none;
  color: #ffcc00;
  font-size: 20px;
  cursor: none;
  border-radius: 15px;
}

.new {
  font-size: 4px;
  position: fixed;
  bottom: 65px;
  right: 40px;
}

.new-h1 {
  background: linear-gradient(#12A1EB, #FF0051);
  padding: 1px 4px;
  border-radius: 5px;
  animation-name: newh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes newh {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

#popup {
  position: fixed;
  bottom: 0px;
  background: linear-gradient(#FFB91A, #58B113);
  color: white;
  padding: 20px;
  
  text-align: center;
  display: none;
  height: 10%;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 0 10px #ffcc00;
  animation-name: popup;
  animation-duration: 2s;
  animation-iteration-count: 1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

@keyframes popup {
  0% {
    transform: translateY(130px);
    opacity: 50%;

  }

  100% {
    transform: translateY(0px);
  }
}

.hidden {
  display: none;
}